:global(body) {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', 'Segoe UI', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectContainer {
    background: #e0f7fa;
    border: 1px rgba(200, 213, 239, 0.08);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(30, 60, 114, 0.08);
    max-width: 80%;
    margin: 2rem auto;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.projectTitle {
  font-family: 'Nunito', 'Segoe UI', sans-serif;
  color: #1976d2;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 1px;
  background: none;
  border-radius: 1.5rem;
  margin: 1.5rem 0;
  overflow: hidden;
  padding: 0.5rem 1rem;
}

.description {
  font-family: 'Nunito', 'Segoe UI', sans-serif;
  color: #1976d2;
  font-size: small;
  font-weight: light;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.5px;
  background: none;
  border-radius: 1rem;
  padding: 0.3rem 0.8rem;
  width:50%;
  margin:auto;
}

:global(.project) {
  margin-bottom: 2.5rem;
}

:global(.project *),
:global(.projectTitle) {
  font-family: 'Nunito', 'Segoe UI', sans-serif !important;
}

@media (max-width: 700px) {
  .projectsContainer {
    padding: 1rem 0.5rem;
    border-radius: 1rem;
  }
  .projectTitle {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}